/* **************************************
 *	    DEFAULT THEME CSS           *
 ************************************** */

/* BODY */
html, body { color: #666; font-family: Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif; }

/* DEFAULTS */

h1, h2, h3 { padding: 0em 0 0.5em 0; color: #666; }
h1    { font-size: 1.6em; }
h2    { font-size: 1.5em; }
h3    { font-weight: bold; }
p     { padding: 0.5em 0 0.5em 0; }
li     { padding: 0.5em 0 0.5em 0; }
a     { text-decoration: none; color: #666; }
a:hover    { color: #000; background-color: #f8f8f8; }
form     { padding: 1.0em; }
td     { padding: 0.5em; }
small     { font-size: 0.8em; }
del     { text-decoration: line-through; }

/* LAYOUT */

.clear	{ clear: both; margin: 0; line-height: 0em;} /* need line-height for IE */
    
/* YAHOO USER INTERFACE (YUI) : http://developer.yahoo.com/yui/grids/  */

.yui-t7 { } /* Template 7 - complete frame*/
.yui-gc { padding: 1.0em; }     /* Grid C: 66% + 33% - container around content and sidebar*/
.yui-g { }        		/* Grid: 100% - container around content when sidebar disabled */
.yui-u, .first { }   		/* Units - the content (first) and sidebar */

/* ANNOUNCEMENTS */

#announcement {
    background-color: #f8f8f8;
    border-bottom: 1px solid #000;
    padding: 0.4em;
    text-align: center;
}

/* HEADER */

#hd { margin: 0.4em 0 0.4em 0;} /* wraps the title and ad blocks */

#hd_title { float: left;  height: 60px; width:468px; background-color: #f4f4f4; border: 1px solid #d0d0d0; }
#hd_title h1 { font-size: 2.2em; font-weight: bold; padding: 0.5em 0.4em 0.4em 0.4em;}    /* Site title */
#hd_title h1 a { color: #666; }
#hd_title h1 a:hover { color: #000; }

#hd_block2 { float: right; height: 60px; width:468px; background-color: #f4f4f4; border: 1px solid #d0d0d0; }

#nav { margin: 0.4em 0 0.4em 0; } /* wraps the navigation bar */
ul.navigation { float: left; list-style: none; }
ul.navigation li { display: inline; font-size: 1.2em; font-weight: bold; }
ul.navigation li a { color: #666; padding: 0.2em 0.4em 0.2em 0.4em; }
ul.navigation li a:hover { color: #000; }
ul.navigation li a img { vertical-align: middle; }
li a#navigation_active { background-color: #f8f8f8; color: #000; }
ul.nav_right { display: inline; float: right; }
#rss_icon { margin-top: -0.2em; }

#post_header { background-color: #f8f8f8; } /* wraps the categories bar, etc. */

/* BODY */

#bd { background-color: #fff;}

.message {
    margin: 1.0em auto 1.0em auto;
    width: 90%;
    padding: 0.8em;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.green    { background-color: #99FF66; }
.red      { background-color: #FF6A55; color: #ffffff; }
.bold_red { color: red; font-weight: bold; }

/* SITE CLOSED MESSAGE */

#site_closed { background-color: #fff; border-top: 2px solid #000; border-bottom: 2px solid #000; 
		text-align: center; margin-top: 4em; font-size: 1.6em; line-height: 1.8em; }
		
#site_closed_admin_link { font-size: 8pt; margin-top: 1.0em; }

/* BREADCRUMBS */

#breadcrumbs {
    margin-bottom: 1.0em;
}

/* PAGINATION */

#pagination {
    font-size: 0.9em;
    margin-top: 2.0em;
    text-align: right;
}

#pagination a {
    display: inline;
    padding: 0.3em 0.7em 0.3em 0.7em;
    border:solid 1px #F0F0F0;
}

#pagination .pagi_current {
    color: #fff;
    background-color: #000;
    font-weight: bold;
    padding: 0.3em 0.7em 0.3em 0.7em;
    border:solid 1px #444444;
}

#pagination a:hover {
    border:solid 1px #444444;
    text-decoration: none;
}

/* FORMS */
input.submit {
	margin-top: 0.4em;
	padding: 0.2em 0.4em 0.2em 0.4em;
	font-weight:bold;
}

/* SIDEBAR */

#sidebar { padding: 1.0em; background-color: #f8f8f8; }
#sidebar ul li { padding: 0.1em; border-bottom: solid 1px #eee; }

/* FOOTER */

#ft {
    background-color: #ffffff;
    border-top: 0.1em solid #888;
    margin: 0.5em 0 0.5em 0;
    padding-left: 0.5em;
    text-align: left;
    font-size: 1.0em;
}

.debug  { font-size: 0.8em; }