/* **************************************
 *	    HOTARU-LIGHT THEME CSS           *
 ************************************** */

/* BODY */
html, body {     float:left; width: 100%; line-height: 1.5em; color: #666;
        font-family: Trebuchet MS,Helvetica,sans-serif; }

/* DEFAULTS */

h1, h2, h3 { padding: 0em 0 0.5em 0; color: #444; }
h1    { font-size: 1.6em; }
h2    { font-size: 1.5em; font-style:italic;}
h3    { font-weight: bold; }
p     { padding: 0.5em 0 0.5em 0; }
li     { padding: 0.5em 0 0.5em 0; }
a     { text-decoration: none; color: #444; }
a:hover    { text-decoration: underline; }
form     { padding: 1.0em; }
td     { padding: 0.5em; }
small     { font-size: 0.8em; background-color:#F0F0F0; font-style:normal; padding:0 0.6em;}
del     { text-decoration: line-through; }

/* LAYOUT */

.clear	{ clear: both; margin: 0; line-height: 0em;} /* need line-height for IE */

    
/* YAHOO USER INTERFACE (YUI) : http://developer.yahoo.com/yui/grids/  */

.yui-t7 { }        /* Template 7 - complete frame*/
.yui-gc { }        /* Grid C: 66% + 33% - container around content and sidebar*/
.yui-g { }        /* Grid: 100% - container around content when sidebar disabled */
.yui-u, .first { }    /* Units - the content (first) and sidebar */

/* ANNOUNCEMENTS */

#announcement {
    background-color: #f8f8f8;
    border-bottom: 1px solid #000;
    padding: 0.4em;
    text-align: center;
}

/* HEADER */

#hd { margin-bottom: 1.0em; background-color: #FFF;}
#hd_title h1 { font-size: 2.2em; font-weight: bold; padding: 0.4em 0.4em 0.4em 0.4em;}    /* Site title */
#hd_title h1 a { color: #FFAD00; }
#hd_title h1 a:hover { background-color: #FFF; text-decoration: none;}
ul#navigation { list-style: none; padding: 0 0 0.6em 0.95em; margin: 0.2em 0 0.2em 0; }
#navigation li { display: inline; font-size: 1.2em; font-weight: bold; }
#navigation li a { color: #FFAD00; padding: 0.2em 0.4em 0.2em 0.4em;  }
#navigation li a:hover { background-color: #FFF; text-decoration: none;}
#navigation li a img { vertical-align: middle; }
li #navigation_active { background-color: #F0F0F0; }

#rss { margin-top: -20px; text-align: right;}

/* BODY */
#ads160x600 { vertical-align: middle; float:left; }

#bd { padding-left: 0.95em; margin-left:170px; border-left: 0.1em solid #f0f0f0;}

.message {
    margin: 1.0em auto 1.0em auto;
    width: 90%;
    padding: 0.8em;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.green     { background-color: #99FF66; }
.red     { background-color: #FF6A55; color: #ffffff; }
.bold_red { color: red; font-weight: bold; }

/* SITE CLOSED MESSAGE */

#site_closed { background-color: #fff; border-top: 2px solid #000; border-bottom: 2px solid #000; 
		text-align: center; margin-top: 4em; font-size: 1.6em; line-height: 1.8em; }


.post_breadcrumbs_links_bar {
	padding: 0.2em 0.6em 0.2em 0.6em;
	margin-bottom: 0.8em;
	background-color: #f0f0f0;
	border: 1px solid #fff;
}

.vote_button_top {
background-color:#FFAD00;
color:#FFFFFF;
font-size:2em;
font-weight:bold;
line-height:2em;
width:50px;
}

.comment_link {
background:transparent url(../images/comments.png) no-repeat scroll left bottom;
color:#666666;
padding-left: 15px;
}

.tags_link {
background:transparent url(../images/cloud.gif) no-repeat scroll left center;
color:#666666;
padding-left: 19px;
}


/* CATEGORY */

#category_bar li {
float:left;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0.4em 0;
padding:0.2em 0.8em;
}

#category_bar li a {
color:#666;
display:block;
text-decoration:none;
}

#category_bar li:hover {
background-color:#FFF;
}


/* BREADCRUMBS */

#breadcrumbs {
    margin-bottom: 1.0em;
}


/* PAGINATION */

#pagination {
    margin-top: 2.0em;
    text-align: right;
}

#pagination a {
    display: inline;
    padding: 0.3em 0.7em 0.3em 0.7em;
    border:solid 1px #F0F0F0;
}

#pagination .pagi_current {
    color: #fff;
    background-color: #000;
    font-weight: bold;
	font-size: 0.7em;
    padding: 0.3em 0.7em 0.3em 0.7em;
    border:solid 1px #444444;
}

#pagination a:hover {
    border:solid 1px #444444;
    text-decoration: none;
}

/* FORMS */
input.submit {
	margin-top: 0.4em;
	padding: 0.2em 0.4em 0.2em 0.4em;
	font-weight:bold;
}

/* SIDEBAR */

#sidebar { padding-left: 0.95em; padding-right: 0.95em; border-left:solid 1px #F0F0F0; border-top:solid 1px #F0F0F0;}
#sidebar ul { margin-bottom: 1.2em; }
#sidebar ul li { padding: 0.1em; border-bottom: solid 1px #eee; }
.sidebar_widget_head {font-style:italic; margin-top:1.2em; }

/* SEARCH BOX */

#search_form { margin-top: 1.0em; padding: 0; text-align: right;}
#search_form input#search_input { padding: 0.2em; width: 12em; }

/* FOOTER */

#ft {
    background-color: #ffffff;
    border-top: 0.1em solid #f0f0f0;
    margin-top: 1.0em;
    padding-top: 1.0em;
    text-align: right;
    font-size: 0.8em;
}