/* Sidenav
-------------------------------------------------- */
.bs-sidenav {
  width: 230px;
  padding: 0;
  background-color: #fff;
  position: static;
  -webkit-border-radius: 6px;
	 -moz-border-radius: 6px;
		  border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	 -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
		  box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
	 -moz-border-radius: 6px 6px 0 0;
		  border-radius: 6px 6px 0 0;
}
.bs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
	 -moz-border-radius: 0 0 6px 6px;
		  border-radius: 0 0 6px 6px;
}
.bs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
	 -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
		  box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-sidenav .icon-chevron-left {
  float: left;
  margin-top: 2px;
  margin-left: -6px;
  opacity: .25;
}
.bs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-sidenav a:hover .icon-chevron-left {
  opacity: .5;
}
.bs-sidenav .active .icon-chevron-left,
.bs-sidenav .active a:hover .icon-chevron-left {
  opacity: 1;
}
.bs-sidenav .affix {
  top: 40px;
}
.bs-sidenav .affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}
/* Sidenav */
.bs-sidenav {
	width: auto;
	margin-bottom: 20px;
	position: static;
}
.bs-sidenav .affix {
	position: static;
	width: auto;
	top: 0;
}
/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
  .bs-sidenav {
	width: 258px;
  }
  .bs-sidenav > li > a {
	width: 230px \9; /* Override the previous IE8-9 hack */
  }
}

/* Desktop
------------------------- */
@media (max-width: 980px) {
/* Unfloat brand */
  body > .navbar-fixed-top .brand {
    float: left;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
/* When affixed, space properly */
  .bs-sidenav {
    top: 0;
    width: 218px;
    margin-top: 30px;
    margin-right: 0;
	position: static;
  }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
  /* Adjust sidenav width */
  .bs-sidenav {
    width: 166px;
    margin-top: 20px;
  }
  .bs-sidenav.affix {
    top: 0;
  }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
/* Remove any padding from the body */
  body {
    padding-top: 0;
  }
 
/* Sidenav */
  .bs-sidenav {
    width: auto;
    margin-bottom: 20px;
  }
  .bs-sidenav.affix {
    position: static;
    width: auto;
    top: 0;
  }
}


#install_db_manual li {
    line-height: 2em;
}