/* **************************************
 *	CATEGORIES PLUGIN CSS           *
 ************************************** */

/* DROP-DOWN CATEGORY MENU BAR */

/*Category Navigation*/

#category_bar {
    /*
	background: #f4f4f4;
	border-left: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4; 
    */
	width: 100%;
	height: 2.7em;
	margin: 0px 0 0px;
	padding: 0px;
	}
	
#category_bar, #category_bar ul {
	margin: 0px;
	padding: 0px;
	list-style: none; 	
    z-index: 1;
	}

#category_bar a, #category_bar a:visited {
	background: #f4f4f4;
	color: #666;
	display: block;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
	padding: 0.63em 0.7em 0.63em 0.7em;
	border-bottom: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	}
	
#category_bar a:hover {
	background: #d9d9d9;
	color: #fff;
	display: block;
	text-decoration: none;
    margin: 0px 0px 0px 0px;
	padding: 0.63em 0.7em 0.63em 0.7em;
	}

#category_bar li {
	float: left;
	margin: 0px;
	padding: 0px;
    z-index: 1;
	}
	
#category_bar li li {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 160px;
	}
	
#category_bar li li a, #category_bar li li a:link, #category_bar li li a:visited {
	background: #f4f4f4;
	color: #666;
	width: 160px;
	float: none;
	margin: 0 0 0 -1px;
	padding: 0.63em 0.7em 0.63em 0.7em;
	border-bottom: 1px solid #e4e4e4;
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	}
	
#category_bar li li a:hover, #category_bar li li a:active {
	background: #d9d9d9;
	color: #fff;
	}

#category_bar li ul {
	position: absolute;
	width: 10em;
	left: -999em;
	}

#category_bar li:hover ul {
	left: auto;
	display: block;
	}
	
#category_bar li:hover ul, #category_bar li.sfhover1 ul {
	left: -999em;
	}
	
#category_bar li ul ul {
	margin: -2.4em 0 0 15.1em;
}
	
#category_bar li:hover ul ul, #category_bar li:hover ul ul ul, #category_bar li.sfhover1 ul ul, #category_bar li.sfhover1 ul ul ul {
	left: -999em;
}

#category_bar li:hover ul, #category_bar li li:hover ul, #category_bar li li li:hover ul, #category_bar li.sfhover1 ul, #category_bar li li.sfhover1 ul, #category_bar li li li.sfhover1 ul {
	left: auto;
}	

#category_bar li:hover ul ul, #category_bar li.sfhover2 ul ul {
	left: -999em;
}

#category_bar li:hover ul, #category_bar li li:hover ul, #category_bar li.sfhover ul, #category_bar li li.sfhover ul {
	left: auto;
}