/* **************************************
 *	ADMIN DEFAULT THEME CSS         *
 ************************************** */

body {
  padding-top: 50px;
  padding-bottom: 50px;
}

.ui-sortable-handle {
    cursor:  move;
}

.sidebar-nav {
  padding: 9px 0;
}

.navbar-nav>li:first-child {
    margin-left:16px;
}

#admin-sidebar-menu {
    display: block;
    height: 100%;
    left: -80%;
    position: fixed;
    top: 46px;
    width: 80%;
    z-index: 500;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #2b2b2b;
    color: #aaa;
}

#admin-sidebar-nav
{
/*    border-top: 1px solid #313131;*/
    border-bottom: 1px solid #1f1f1f;
    
}

#admin-sidebar-menu ul
{
/*    margin:0 2px;*/
}

#admin-sidebar-nav>a{
    margin:4px 2px;
    background-color:transparent;
    border-color:gray;  
}

#admin-sidebar-menu a {
    color: #aaa;
}

#admin-sidebar-nav>a:hover, #admin-sidebar-nav>a:focus {
    background-color: #2c3e50;
    color: #fff;
}

#admin-sidebar-menu .nav-pills a:hover, #admin-sidebar-menu .nav-pills a:focus{
    background-color: #2c3e50;
    color: #fff;
}

#admin-sidebar-menu .sidebar-title {
    font-size: 12px;
    text-transform: uppercase;
    color: #ecf0f1;
    padding: 0 15px;
    font-weight: 700;
    overflow: hidden;
}

#admin-sidebar-menu .nav li.active>a {
    color: #fff;
    background: #1e2125;
}

#admin-sidebar-menu .nav li.active>a:after {
    content: "";
    top: 0;
    bottom: 0;
    width: 4px;
    position: absolute;
    right: auto;
    left: 0;
    background: #1aaada;
}

@media (min-width: 480px) {
    #main-wrapper {
        padding-left: 56px;
    }
    #admin-sidebar-menu {
        height: auto;
        left: 0;
        overflow: visible;
        position: absolute;
        width: 56px;
    }
    #main-menu-sidebar-bgd {
        width: 56px;
    }
    #admin-sidebar-menu .menu-text {
        display:none;
    }
    #admin-sidebar-menu ul.nav>li>a>.menu-icon {
        margin: 0;
    }
    #admin-sidebar-nav {
	margin:0; padding:0 8px;
    }
    #admin-sidebar-menu ul.nav li.nav-header>a {
        padding-right: 14px;
    }
}

@media (min-width: 768px) {
    #main-wrapper {
        padding-left: 240px;
    }
    #admin-sidebar-menu {
        overflow: hidden;
        width: 240px;
        margin-bottom: 20px;
    }
    #main-menu-sidebar-bgd {
        width: 240px;
    }
    #admin-sidebar-menu .menu-text {
        display:inline;
    }
    #admin-sidebar-menu ul.nav>li>a>.menu-icon {
        margin-right: 6px;
    }
    #admin-sidebar-nav {
	padding: 12px 24px;	
    }
    #admin-sidebar-menu ul.nav li.nav-header>a:before {
        content: "\f105";
        left: auto;
        right: 14px;
    }
    #admin-sidebar-menu ul.nav li.nav-header>a {
        padding-right: 30px;
    }
}

#admin-sidebar-menu ul.nav li.nav-header>a:before {
    content: "\f105";
    display: block;
    font-family: FontAwesome;
    font-size: 12px;
    line-height: 10px;
    height: 10px;
    width: 10px;
    right: 14px;
    top: 17px;
    margin: 0;
    position: absolute;
    text-align: center;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

/*@media (max-width: 980px) {
   Enable use of floated navbar text 
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}*/

#main-content {
    left: 0;
    padding: 0px 18px 18px;
    width: 100%;
    position: relative;
}

#main-menu-sidebar-bgd {
    background: #2b2b2b;
    overflow-x: hidden;
    left:0;
    display: block;
    height: 100%;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 299;
}

#admin-sidebar-menu li {
    border-top: 1px solid #313131;
    border-bottom: 1px solid #1f1f1f;
}

#admin-sidebar-menu .nav
{
    -webkit-box-shadow: 0 1px 0 #313131;
    box-shadow: 0 1px 0 #313131;
}
    
.navbar-nav>li>a, .navbar-brand {
    color: white !important;
}

#admin-sidebar-menu .menu-icon {
    display: inline-block;
    margin-right: 5px;
    line-height: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: 14px;
}

/* globals */


#announcement {
	background-color: #fbe760;
	border-bottom: 1px solid #ddd;
	padding: 0.4em;
	text-align: center;
/*        margin-top: -20px;*/
}

ul { list-style-type: none;}

#ft {
	height: auto;
	padding: 1.0em;
	text-align: center;
	font-size: 1.0em;
}

.textarea {   
     width:100%;
     -moz-box-sizing: border-box;
     -ms-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

#admin-breadcrumb {
    padding: 14px 15px;
}

#site-stats>li>a {
    padding-top: 2px;
    padding-bottom: 2px;
}

.statbox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
    background-color: beige;
}

.statbox .title {   
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    
    border-color: #1aaada;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0px 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    height: 48px;
}

.stat-percent {
    float: right;
}

.no-margins {
    margin: 0 !important;
}

.font-bold {
    font-weight: 600;
}

.statbox .content {
    
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #1aaada;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
}

.statbox h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    position: relative;
    float: left;  
}

/* plugin management icons for on/off */
.table_active a img {
    max-width: 16px;
}

#rss-latest {
    overflow: hidden;
}

/* *************************************
*  Plugin Management table             *
************************************** */

#plugin_management table { margin: auto; width: 100%; }
/*#plugin_management tr.table_a td, #plugin_management tr.table_b td { font-size: 1.2em; font-weight: bold; padding: 0.4em 0.5em 0.4em 0.5em; text-align: left; }
#plugin_management tr.table_a td img, #plugin_management tr.table_b td img { vertical-align: middle; padding: 0 0.4em 0.2em 0;}
#plugin_management tr.table_a td span, #plugin_management tr.table_b td span { font-size: 0.8em; }
#plugin_management tr.table_a td {	background-color: #D4FFBF; }
#plugin_management tr.table_b td {	background-color: #CBE2FF; }
#plugin_management tr.table_headers td { font-weight: bold; padding: 0.4em 0.5em 0.4em 0.5em; background-color: #e0e0e0; 
                        text-align: center; border-right: 1px solid #d0d0d0; }*/
#plugin_management tr.table_row_0 td { background-color: #f0f0f0; padding: 0.3em 0.6em 0.3em 0.6em; border-right: 1px solid #e0e0e0; }
#plugin_management tr.table_row_1 td { background-color: #f6f6f6; padding: 0.3em 0.6em 0.3em 0.6em; border-right: 1px solid #e0e0e0; }

#plugin_management td.table_active { width: 5%; }
/*#plugin_management td.table_installed_plugin { width: 50%; font-size: 0.9em; font-weight: bold; }*/
#plugin_management td.table_order { width: 16%; }
#plugin_management td.table_uninstall { width: 17%; font-size: 0.8em;}

#plugin_management td.table_uninstalled_plugin { width: 78%; font-size: 0.9em; font-weight: bold; }
#plugin_management span.table_requires { font-size: 0.8em; font-weight: normal; color: #666; }
#plugin_management td.table_install { width: 17%; font-size: 0.8em; }
#plugin_management td.table_description { font-size: 0.8em; background-color: #fefefe; border-style:solid; border-width: 0.2em 0 0.2em 0.2em; border-color: #e0e0e0; }
#plugin_management td.table_description_close { font-size: 0.8em; background-color: #fefefe; border-style:solid; border-width: 0.2em 0.2em 0.2em 0; border-color: #e0e0e0; text-align: center; }
#plugin_management .plugin_management_right {float:right; font-weight:bold;}
#plugin_management a:hover {text-decoration: none;}

#plugintable_installed { min-height:300px;  }

/* *************************************
*  Site Settings  *
************************************** */

#settings td {
	padding: 1.0em;
}


/* *************************************
*  Pagination  *
************************************** */

#pagination {
    text-align: center;
}

/*#pagination {
	margin-top: 2.0em;
	text-align: right;
	font-size: 0.9em;
}

#pagination a {
	display: inline;
	padding: 0.3em 0.7em 0.3em 0.7em;
	border:solid 1px #F0F0F0;
}*/

/*#pagination .pagi_current {
	background-color: #BBB;
	font-weight: bold;
	padding: 0.3em 0.7em 0.3em 0.7em;
	border:solid 1px #444444;
}

#pagination a:hover {
	border:solid 1px #444444;
	text-decoration: none;
}*/

.debug  { font-size: 0.8em; }

#hotaruImg { 
    background-image:url('../images/hotaru-80px.png');
    background-repeat:no-repeat;
    opacity: 0.3;
    background-position: center center;
    height: 80px;
    margin: 120px auto;    
}

#editor { 
        position: absolute;
        top: 150px;
        right: 100px;
        bottom: 100px;
        left: 330px;
    }
    
.box {     
    position: relative;
    width: 100%;
    margin: 0px;
    margin-bottom: 40px;
}

.placeholder {
    border: 1px solid green;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
}


.plugin-card {
    float: left;
    margin: 0 8px 16px;
    background-color: #fff;
    border: 1px solid #dedede;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 0 !important;
    padding-left:0 !important;
}

.plugin-card-top {
/*    min-height: 135px;*/
    padding: 20px 20px 10px;
}
.plugin-card-bottom {
    position: relative;
    padding: 20px 20px 10px;
}

.plugin-card-bottom {
    clear: both;
    padding: 12px 20px;
    background-color: #fafafa;
    border-top: 1px solid #dedede;
    overflow: hidden;
}

.plugin-card .desc, .plugin-card .name {
    margin-left: 104px;
    margin-right: 110px;
}

.plugin-card .name {
    font-size: 18px;
    font-weight: 700;
}

.plugin-icon {

    top: 20px;
    left: 20px;
    width: 128px;
    
    margin: 0 20px 20px 0;
}

.star-rating .fa-star {
    color:orange;
}