/* **************************************
 *	ADMIN DEFAULT THEME CSS         *
 ************************************** */


body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}
    
/* globals */


#announcement {
	background-color: #fbe760;
	border-bottom: 1px solid #ddd;
	padding: 0.4em;
	text-align: center;
/*        margin-top: -20px;*/
}

ul { list-style-type: none;}

#ft {
	height: auto;
	padding: 1.0em 0 1.0em 0;
	text-align: center;
	font-size: 1.0em;
}

.textarea {   
     width:100%;
     -moz-box-sizing: border-box;
     -ms-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
}



/* plugin management icons for on/off */
.table_active a img {
    max-width: 16px;
}

/* *************************************
*  Plugin Management table             *
************************************** */

#plugin_management table { margin: auto; width: 100%; }
#plugin_management tr.table_a td, #plugin_management tr.table_b td { font-size: 1.2em; font-weight: bold; padding: 0.4em 0.5em 0.4em 0.5em; text-align: left; }
#plugin_management tr.table_a td img, #plugin_management tr.table_b td img { vertical-align: middle; padding: 0 0.4em 0.2em 0;}
#plugin_management tr.table_a td span, #plugin_management tr.table_b td span { font-size: 0.8em; }
#plugin_management tr.table_a td {	background-color: #D4FFBF; }
#plugin_management tr.table_b td {	background-color: #CBE2FF; }
#plugin_management tr.table_headers td { font-weight: bold; padding: 0.4em 0.5em 0.4em 0.5em; background-color: #e0e0e0; 
                        text-align: center; border-right: 1px solid #d0d0d0; }
#plugin_management tr.table_row_0 td { background-color: #f0f0f0; padding: 0.3em 0.6em 0.3em 0.6em; border-right: 1px solid #e0e0e0; }
#plugin_management tr.table_row_1 td { background-color: #f6f6f6; padding: 0.3em 0.6em 0.3em 0.6em; border-right: 1px solid #e0e0e0; }

#plugin_management td.table_active { width: 5%; }
#plugin_management td.table_installed_plugin { width: 50%; font-size: 0.9em; font-weight: bold; }
#plugin_management td.table_order { width: 16%; }
#plugin_management td.table_uninstall { width: 17%; font-size: 0.8em;}

#plugin_management td.table_uninstalled_plugin { width: 78%; font-size: 0.9em; font-weight: bold; }
#plugin_management span.table_requires { font-size: 0.8em; font-weight: normal; color: #666; }
#plugin_management td.table_install { width: 17%; font-size: 0.8em; }
#plugin_management td.table_description { font-size: 0.8em; background-color: #fefefe; border-style:solid; border-width: 0.2em 0 0.2em 0.2em; border-color: #e0e0e0; }
#plugin_management td.table_description_close { font-size: 0.8em; background-color: #fefefe; border-style:solid; border-width: 0.2em 0.2em 0.2em 0; border-color: #e0e0e0; text-align: center; }
#plugin_management .plugin_management_right {float:right; font-weight:bold;}
#plugin_management a:hover {text-decoration: none;}

/* *************************************
*  Site Settings  *
************************************** */

#settings td {
	padding: 1.0em;
}


/* *************************************
*  Pagination  *
************************************** */

#pagination {
	margin-top: 2.0em;
	text-align: right;
	font-size: 0.9em;
}

#pagination a {
	display: inline;
	padding: 0.3em 0.7em 0.3em 0.7em;
	border:solid 1px #F0F0F0;
}

#pagination .pagi_current {
	background-color: #BBB;
	font-weight: bold;
	padding: 0.3em 0.7em 0.3em 0.7em;
	border:solid 1px #444444;
}

#pagination a:hover {
	border:solid 1px #444444;
	text-decoration: none;
}

.debug  { font-size: 0.8em; }

#hotaruImg { 
    background-image:url('../images/hotaru-80px.png');
    background-repeat:no-repeat;
    opacity: 0.3;
    background-position: center center;
    height: 80px;
    margin: 120px auto;    
}

#editor { 
        position: absolute;
        top: 150px;
        right: 100px;
        bottom: 100px;
        left: 330px;
    }
    
.box {     
    position: relative;
    width: 100%;
    margin: 0px;
    margin-bottom: 40px;
}

.placeholder {
    border: 1px solid green;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
}