/* Default style */

html, body { 
	min-height: 100%; height: 100%;
	background-color: #4A7E7C;
	font-size: 0.9em;
}

h1	{ 
	font-size: 1.5em;
	padding-top: 0.6em;
}

p {
	padding: 0.4em;
}

a { 
	text-decoration: none; 
	color: #0000ff;	
}

a:hover	{ 
	text-decoration: underline; 
}

.yui-t7 {
	min-height: 100%; height: 100%;
}

#hd {
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	margin: 1.0em 0 1.0em 0;
}

#navigation {
	padding: 0.3em 0 0 0;
	color: #ffffff;
}

#navigation ul {
	disc-style-type: none;
	list-style: none;
}

#navigation li {
	display: inline;
	padding-right: 1em;
	font-size: 1.2em;
	font-weight: bold;
}

#navigation li a {
	color: #ffffff;
}

#bd {
	background-color: #F0F0F0;
}

.yui-gc {
	/* container for both the wide and narrow colums. */
	background-color: #4A7E7C;
}

.yui-u, .first {
	min-height: 100%; height: 100%;
	margin-bottom: 1.0em;
	background-color: #FCFCFC;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}

#main, #sidebar {
	padding: 0.6em;
}

#ft {
	height: 8.0em;
	background-color: #ffffff;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}